.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 1rem;
}

.menuRight {
  display: flex;
  justify-content: center;
  align-items: center;
}

.line {
  border-left: 1px solid #c8c8c8;
  width: 1px;
  height: 20px;
  margin-right: 1rem;
}

.logo {
  cursor: pointer;
}

.dropDown {
  color: white;
}
