.container {
  padding-left: 1rem;
  padding-right: 1rem;
  margin-bottom: 4rem;
}

.Mono {
  font-family: "Space Mono", monospace;
  font-style: normal;
}

.Sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}

.Serif {
  font-family: "PT Serif", serif;
  font-style: normal;
}
